.nav {
  width: 100%;
  gap: 24px;
  padding: 8px;
}

.nav > * {
  flex: 1;
}

.nav > button, .nav > input {
  flex: 0;
}

.searchButton {
  width: 100%;
  flex: 1 !important;
  text-align: center;
}

.searchButton svg {
  margin: 0 auto;
}

.tableWrapper {
  flex: 1;
  max-height: calc(50vh - 54px);
  overflow-y: auto;
}

.itemDescription {
  margin: 0;
  max-width: 480px;
}

.rowSeparator > td {
  border-top: solid 1px var(--black100);
}

.totalByStore > th {
  text-align: left;
}