.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: solid 1px var(--border-color-base);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  background: var(--white300);
}

.container h1,
.container h2,
.container h3,
.container h4 {
  margin: 0;
  font-weight: 500;
}

.header, .footer {
  composes: flex orientationHorizontal alignedCenter from './layout.module.css';
  justify-content: space-between;
}

.image {
  border-bottom: solid 1px var(--border-color-base);
}

.content {
  flex: 1;
  max-height: 34px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}